.user_rate__card {
  width: 100%;
  background-color: var(--light-gray-l20);
  padding: 15px 20px;
  border-radius: 12px;

  &:not(:last-child) {
    margin: 0 0 10px 0;
  }


  &_header {
    display: flex;
    justify-content: space-between;
  }

  &_name {
    font-size: 30px;
    font-weight: 500;
  }

  &_stars {
    display: flex;
  }

  &_description {
    margin: 16px 0 0 0;
  }
}

@media(max-width: 512px) {
  .user_rate__card {
    width: 100%;
    background-color: var(--light-gray-l20);
    padding: 10px 14px;
    border-radius: 12px;

    &_name {
      font-size: 26px;
      font-weight: 500;
    }

    &_stars {
      display: flex;
    }

    &_description {
      margin: 16px 0 0 0;
    }
  }
}