.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  place-items: center center;
}

@media (max-width: 1034px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 15px;
    place-items: center;
  }
}


@media(max-width: 912px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 15px;
    place-items: center;
  }
}

@media (max-width: 724px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 12px;
  }
}


@media (max-width: 580px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
  }
}