.btn, .btn__active {
  width: 64px;
  height: 52px;
  border-radius: 12px;
  border: 3px solid var(--light-red-main);
  background-color: var(--light-white-main);
  transition: .2s linear;
  cursor: pointer;
  &_icon {
    width: 56%;
    height: 56%;
    color: var(--light-red-main);
  }
}

.btn__active {
  border: 3px solid var(--light-red-main);
  background-color: var(--light-red-main);

  &_icon {
    color: var(--light-white-main) !important;
  }
}