.input_container {
  width: 100%;
  height: 46px;
  position: relative;
  background-color: transparent;

  &_btn {
    position: absolute;
    top: 12px;
    right: 20px;
    border: none;
    background-color: transparent;

    &_icon {
      width: 22px;
      height: 22px;
      color: var(--light-gray-main);
      transition: 300ms linear;
    }
  }

  &_input {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 2px solid var(--light-gray-main);
    padding: 0 16px;
    font-size: 16.6px;
    font-weight: 500;
    transition: 0.10s linear;
    display: inline-block;

    &::placeholder {
      opacity: 0.65;
    }

    &:focus {
      border: 3px solid var(--light-red-main);
    }

    &__err {
      border: 3px solid var(--light-red-main);
    }
  }

  &:focus-within &_btn_icon {
    color: var(--light-red-main);
  }
}

@media (max-width: 500px) {
  .input_container {
    height: 42px;

    &_input {
      font-size: 15px;
    }
  }
}