.form {
  width: 100%;
  background-color: var(--light-gray-main);
  padding: 12px;
  border-radius: 12px;
  &_header {
    border-radius: 8px;
    background-color: var(--light-gray-l20);
    padding: 12px 16px;

    & > h4 {
      font-size: 18px;
      font-weight: 500;
    }
  }

  &_body {
    border-radius: 8px;
    background-color: var(--light-gray-l20);
    padding: 14px 16px;
    margin: 12px 0 0 0;

    & > label {
      color: var(--light-red-main);
      font-weight: 500;
      display: inline-block;
    }
  }

  &_input {
    margin: 0 0 4px 0;
  }

  &_footer {
    margin: 10px 0 0 0;
  }
}